# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments / env vars
.venv/
.env
.env.*

# Django
*.sqlite3


# Testing / type checkers / coverage
.pytest_cache/
.mypy_cache/
.coverage

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Caches / logs
*.rdb
*.log